:root {
	--primary-color: #ff00ff;
	--primary-color-hover: #de00de;
	--secondary-color: #00ffff;
	--secondary-color-hover: #00dede;
	--background: #1b1b1b;
	--color: #e0e0e0;
	--border-gray: #999;
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background: var(--background);
	color: var(--color);
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
		sans-serif;
}

a {
	color: var(--primary-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--primary-color-hover);
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	font-weight: 600;
	color: var(--background);
	background-color: var(--secondary-color);
	border: 1px solid var(--secondary-color-hover);
	outline: none;
	transition: all 0.2s ease;
}
button:hover {
	transition: all 0.2s ease;
	background-color: var(--secondary-color-hover);
	box-shadow: 0 0 3px 0 var(--secondary-color);
}

button:disabled {
	color: var(--border-grey);
	cursor: not-allowed;
}

button:not(:disabled):active {
	box-shadow:0 0 6px 0 var(--primary-color);
}

*:focus {
	border-color: var(--secondary-color);
}