:root {
	--primary-color: #add8e6; /* lightblue */
	--primary-color-hover: #8db8d6;
	--secondary-color: #f8bba2; /* melon */
	--secondary-color-hover: #d89b82;
	--success: #90ee94; /* lightgreen */
	--error: #fe8686; /* lightcoral */
	--background: #36363a; /* jet */
	--text: #fefefe;
	--border-gray: #999;
	--black: #000;
	--white: #fff;

	--small: 660px;
	--medium: 1080px;
	--large: 1240px;
	--x-large: 1600px;
	--xx-large: 2000px;
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background: var(--background);
	color: var(--text);
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
		sans-serif;
}

a {
	color: var(--secondary-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--primary-color-hover);
	border-bottom: 1px solid var(--primary-color-hover);
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid var(--border-gray);
	border-radius: 2px;
}

input:disabled {
	color: var(--border-gray);
}

button {
	min-width: 105px;
	min-height: 45px;
	border-radius: 5px;
	font-weight: 600;
	background-color: var(--secondary-color);
	border: 1px solid var(--secondary-color-hover);
	outline: none;
	color: var(--black);
	transition: all 0.2s ease;
}
button:hover {
	transition: all 0.2s ease;
	background-color: var(--secondary-color-hover);
	box-shadow: 0 0 3px 0 var(--secondary-color);
}

button:disabled {
	color: var(--border-gray);
	cursor: not-allowed;
}

button:not(:disabled):active {
	box-shadow: 0 0 6px 0 var(--primary-color);
}

*:focus {
	border-color: var(--secondary-color);
}
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus {
	border: none;
}
